//====================================================================================================
.page {

	// .page__main-slider

	&__main-slider {}
}

.main-slider {
	background: #FCF8F3;

	// .main-slider__container

	&__container {
		position: relative;

		@media (min-width:$md2+px) {
			&::before {
				content: '';
				background: #F9F1E7;
				position: absolute;
				top: 0;
				width: 100vw;
				right: 376px;
				height: 100%;
			}
		}
	}

	// .main-slider__body

	&__body {
		padding: 140px 0px 0px 0px;
		position: relative;
		z-index: 2;

		@media (max-width:$md2+px) {
			padding: 80px 0px 0px 0px;
		}

		@media (max-width:$md3+px) {
			padding: 50px 0px 0px 0px;
		}

		@media (min-width:$md2+px) {
			display: flex;
		}
	}

	// .main-slider__content

	&__content {
		flex: 0 0 494 / 1240 * 100%;
		align-self: flex-start;
		@include adaptiv-value("margin-bottom", 80, 15, 1);

		@media (max-width:$md2+px) {
			margin: 0 -15px;
		}
	}

	// .main-slider__slider

	&__slider {
		flex: 1 1 auto;
		min-width: 0; //* Специально чтобы не было проблем со swiper - слайдером из-за flex-box 
		align-self: flex-end;

		@media (min-width:$md2+px) {
			padding: 0px 0px 0px 32px;
		}
	}
}

.content-main {
	position: relative;
	z-index: 5;
	background: rgba(255, 255, 255, 0.72);
	padding-left: 15px;
	padding-right: 15px;
	@include adaptiv-value("padding-top", 60, 15, 1);
	@include adaptiv-value("padding-bottom", 60, 15, 1);

	@media (min-width:$md2+px) {
		@include adaptiv-value("padding", 60, 1, 1);
		background: rgba(255, 255, 255, 0.9);
	}

	/* Если браузер поддерживает backdrop-filter */
	@supports ((-webkit-backdrop-filter: blur(31px)) or (backdrop-filter: blur(31px))) {
		background: rgba(255, 255, 255, 0.72);
		backdrop-filter: blur(31px);
	}


	// .content-main__title

	&__title {
		@include adaptiv-value("font-size", 56, 24, 1);
		font-weight: 700;
		line-height: 120%;

		&:not(:last-child) {
			margin: 0px 0px 16px/56px*1em 0px;
		}

	}

	// .content-main__text

	&__text {
		@include adaptiv-value("font-size", 20, 16, 1);
		color: $grayColor;
		font-weight: 500;
		line-height: 150%;

		&:not(:last-child) {
			margin: 0px 0px 48px/20px*1em 0px;
		}
	}

	// .content-main__button

	&__button {
		@include adaptiv-value("min-height", 78, 45, 1);
		@include adaptiv-value("font-size", 20, 16, 1);
		font-weight: 600;
		background-color: $orangeColor;
		color: #fff;
		width: 100%;

		@media (any-hover: hover) {
			&:hover {
				background-color: #966749;
			}
		}
	}
}

.slider-main {
	display: flex;
	flex-direction: column;
	align-items: flex-end;

	@media (max-width:$md2+px) {
		align-items: stretch;
		flex-direction: column-reverse;
	}

	// .slider-main__controls

	&__controls {
		align-self: stretch;
		margin: 0px 0px 20px 0px;

		@media (max-width:$md2+px) {
			margin: 10px 0px 20px 0px;

		}
	}

	// .slider-main__body

	&__body {
		overflow: visible;

		@media (min-width:$md2+px) {
			@include adaptiv-value("width", 934, 290, 1);
		}

		@media (max-width:$md2+px) {
			margin: 0 -15px;
		}
	}

	// .slider-main__slide

	&__slide {
		position: relative;
	}

	// .slider-main__image

	&__image {
		padding: 0px 0px 59.211% 0px;
	}

	// .slider-main__content

	&__content {
		min-width: 295px;
		max-height: 300px;
		overflow: auto;
		color: inherit;
		display: flex;
		flex-direction: column;
		@include adaptiv-value("padding", 24, 15, 1);
		background: rgba(255, 255, 255, 0.9);

		@media (min-width: $md3+px) {
			position: absolute;
			min-width: 350px;
			@include adaptiv-value("right", 40, 0, 1);
			@include adaptiv-value("bottom", 40, 0, 1);
		}

		/* Если браузер поддерживает backdrop-filter */
		@supports ((-webkit-backdrop-filter: blur(31px)) or (backdrop-filter: blur(31px))) {
			background: rgba(255, 255, 255, 0.72);
			backdrop-filter: blur(31px);
		}
	}

	// .slider-main__title

	&__title {
		@include adaptiv-value("font-size", 28, 22, 1);
		font-weight: 600;
		line-height: 120%;

		&:not(:last-child) {
			margin: 0px 0px 4px/28px * 1em 0px;
		}

	}

	// .slider-main__text

	&__text {
		font-weight: 500;
		color: $grayColor;
		line-height: 150%;

		&:not(:last-child) {
			margin: 0px 0px 8px/16px * 1em 0px;
		}

		;
	}

	// .slider-main__price

	&__price {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		align-items: center;
		font-weight: 600;
		@include adaptiv-value("font-size", 20, 16, 1);
		line-height: 150%;

		&::before {
			margin: 0px 0px 0px 10px;
			font-size: 14px;
			font-weight: 700;
		}
	}
}

.controls-slider-main {

	display: flex;
	align-items: center;
	// .controls-slider-main__dots

	&__dots {
		flex: 1 1 auto;

		@media (min-width:$md2+px) {
			padding: 0px 20px 0px 0px;
		}

		@media (max-width:$md2+px) {
			justify-content: center;
		}
	}

	// .controls-slider-main__arrows

	&__arrows {
		@media (max-width:$md2+px) {
			display: none;
		}
	}
}

//====================================================================================================